Repository eric-promptshop/Trypto_Travel_App: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🖼️ Add images to desktop timeline view
  app/plan/[tripId]/page.tsx
  components/itinerary/TimelineWithImages.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🚀 Operationalize AI-generated itinerary to populate trip plan
  app/plan/[tripId]/page.tsx
  lib/services/itinerary-converter.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔧 Fix search functionality and enhance voice input
  app/api/places/search/route.ts
  components/ModernExploreSidebar.tsx
  components/ai-request-form.tsx
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
  lib/services/places-search-service.ts
  lib/voice-parser.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔧 Fix tour operator dashboard data loading
  app/api/tour-operator/tours/route.ts
  components/tour-operator/TourOperatorDashboard.tsx
  scripts/check-demo-user.ts
  scripts/check-tour-data.ts
  scripts/fix-demo-operator-role.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎙️ Implement AI-powered voice transcript parsing
  app/api/voice/parse/route.ts
  components/voice/VoiceInputButton.tsx
  lib/voice-parser-ai.ts
  lib/voice-parser-enhanced.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔧 Fix voice parsing for dates and interests
  app/api/voice/parse/route.ts
  components/voice/VoiceInputButton.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔧 Fix search and image display issues in production
  app/api/debug/env/route.ts
  app/api/places/search/route.ts
  lib/services/places-search-service.ts
  next.config.mjs
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🗺️ Fix map synchronization with itinerary destinations
  app/api/generate-itinerary/route.ts
  components/itinerary/ItineraryMap.css
  components/itinerary/ItineraryMap.tsx
  components/itinerary/ModernItineraryBuilder.tsx
  lib/services/itinerary-converter.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🐛 Fix syntax error in itinerary-converter.ts
  lib/services/itinerary-converter.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🐛 Fix remaining syntax errors in itinerary-converter.ts
  lib/services/itinerary-converter.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔧 Fix trip loading and database connection issues
  VERCEL_ENV_SETUP.md
  app/plan/[tripId]/page.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🚀 Trigger deployment after DATABASE_URL fix
  VERCEL_ENV_SETUP.md
Due: prettier --write

🚀 Major enhancements for mobile UX and tour operator features
  app/api/explore/recommendations/route.ts
  app/api/tour-operator/tours/[tourId]/route.ts
  app/api/tour-operator/tours/extract/route.ts
  app/api/tour-operator/tours/import/route.ts
  app/api/tour-operator/tours/route.ts
  app/plan/[tripId]/page.tsx
  components/MapCanvas.tsx
  components/ModernExploreSidebar.tsx
  components/tour-operator/TourDetailModal.tsx
  components/tour-operator/TourImportModal.tsx
  components/tour-operator/TourOperatorDashboard.tsx
  components/tour-operator/TourUploadModal.tsx
  lib/services/tour-onboarding-service.ts
  package-lock.json
  package.json
  store/planStore.ts
  types/pdf-parse.d.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

Fix build errors: add missing alert-dialog component and toast import
  components/tour-operator/TourOperatorDashboard.tsx
  components/ui/alert-dialog.tsx
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🔧 Fix remaining build errors for Vercel deployment
  app/api/tour-operator/tours/import/route.ts
  src/parsers/PDFParser.ts
  src/parsers/pdf-parse-wrapper.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎨 Fix mobile UI issues
  app/api/trips/[id]/itinerary/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/route.ts
  app/plan/[tripId]/page.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Implement AI-first search with hatbox chat interface
  app/api/ai/chat/route.ts
  components/AISearchHatbox.tsx
  components/ModernExploreSidebar.tsx
  package-lock.json
  package.json
  store/planStore.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🔧 Fix OpenAI configuration for Vercel deployment
  app/api/ai/chat/route.ts
  lib/openai.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔧 Fix OpenAI configuration and use correct env vars
  app/api/ai/chat/route.ts
  lib/openai.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Redesign Day Timeline with improved UX and mobile responsiveness
  app/plan/[tripId]/page.tsx
  components/itinerary/TimelineWithImagesV2.module.css
  components/itinerary/TimelineWithImagesV2.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Redesign AI Chat panel with improved readability and itinerary integration
  app/api/ai/chat/v2/route.ts
  components/AISearchHatboxV2.module.css
  components/AISearchHatboxV2.tsx
  components/ModernExploreSidebar.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎨 Improve AI chat readability and simplify interaction flow
  components/AISearchHatboxV2.module.css
  components/AISearchHatboxV2.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix tour operator dashboard: always visible Add Tour button, remove redundant Upload button, add URL import
  app/api/tour-operator/stats/route.ts
  app/api/tour-operator/tours/route.ts
  app/api/tour-operator/tours/scrape/route.ts
  components/AISearchHatboxV2.module.css
  components/AISearchHatboxV2.tsx
  components/tour-operator/TourOperatorDashboard.tsx
  components/tour-operator/TourUrlImportModal.tsx
  scripts/seed-tours.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix AI chat component: resolve React error, improve scrolling and mobile readability
  components/AISearchHatboxV2.module.css
  components/AISearchHatboxV2.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix CSS Module syntax errors for production build
  components/AISearchHatboxV2.module.css
  components/AISearchHatboxV2.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix CSS Module global selector error
  components/AISearchHatboxV2.module.css
Due: prettier --write

Fix chatContainerRef not defined error
  components/AISearchHatboxV2.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Transform AI chat UI with lightweight chips and expandable composer
  app/globals.css
  components/AISearchHatboxV2.module.css
  components/AISearchHatboxV2.tsx
  components/ui/auto-resize-textarea.tsx
  components/ui/chip.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Remove category buttons and make AI chat the primary interface
  components/AISearchHatboxV2.tsx
  components/ModernExploreSidebar.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Make AI chat chips immediately visible with sticky tray
  app/globals.css
  components/AISearchHatboxV2.tsx
  components/ui/chip-tray.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Implement comprehensive share functionality for itineraries
  app/api/auth/register/route.ts
  app/api/share/email/route.ts
  app/api/trips/save-pending/route.ts
  app/auth/signup/page.tsx
  app/plan/[tripId]/page.tsx
  app/shared-itinerary/page.tsx
  components/ShareItineraryModal.tsx
  lib/utils/pdf-generator.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🐛 Fix auto-submission issue when voice input navigates to review step
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🐛 Fix React error #185 - controlled/uncontrolled input issue
  app/plan/[tripId]/page.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

fix: Critical build optimizations for Vercel
  instrumentation.ts.bak
  next.config.build.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts.bak
  vercel.json
Due: prettier --write, npm run type-check

build: optimize package manager, add vercelignore, fix replicate imports
  .npmrc
  .vercelignore
  lib/services/replicate-service.ts
  next.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  vercel.json
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

fix: Remove auth requirement from itinerary generation API
  app/api/itinerary/generate/route.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

feat: Add tour template library as prominent tab on landing page
  app/page.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix itinerary generation error handling
  ENVIRONMENT_SETUP.md
  app/api/generate-itinerary/route.ts
  app/api/itinerary/generate/route.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix itinerary generation API response format and timeouts
  app/api/ai/parse-travel-query/route.ts
  app/api/itinerary/generate/route.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Path conditions:
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --fix --config .eslintrc.development.json: any of: *.{ts,tsx,js,jsx}
  npm run type-check: any of: package.json
