Repository eric-promptshop/Trypto_Travel_App: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

Fix voice input premature stopping and refactor itinerary UI state
  components/itinerary/EnhancedItineraryViewer.tsx
  components/itinerary/ItineraryMap.tsx
  components/itinerary/ItineraryUIContext.tsx
  components/itinerary/ThreeColumnItineraryBuilder.tsx
  components/ui/ai-travel-form-wizard.tsx
  components/ui/skeleton-components.tsx
  components/ui/voice-input.tsx
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

Set default view mode to 'builder' to show map layout
  components/itinerary/ItineraryUIContext.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix charAt error in voice input processing
  components/ui/ai-travel-form-wizard.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Improve voice input date parsing with more patterns
  components/ui/ai-travel-form-wizard.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Integrate OpenAI API with tour operator offerings
  app/api/trips-ai/generate/route.ts
  components/itinerary/ThreeColumnItineraryBuilder.tsx
  lib/ai/enhanced-itinerary-generator.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix itinerary generation hanging issue
  app/api/trips-ai/generate/route.ts
  app/plan/page.tsx
  components/ai-request-form.tsx
  components/itinerary/ThreeColumnItineraryBuilder.tsx
  debug-itinerary.js
  lib/ai/enhanced-itinerary-generator.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix sign-in redirect to always go to /trips page
  app/auth/signin/page.tsx
  app/plan/page.tsx
  components/layout/MainHeader.tsx
  lib/auth/config.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Add My Trips/My Tours navigation and separate demo accounts
  app/auth/error/page.tsx
  app/auth/signin/page.tsx
  components/layout/MainHeader.tsx
  lib/auth/config.ts
  package.json
  scripts/seed-demo-users.js
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

Create demo accounts database setup with complete data
  hooks/use-trips.tsx
  lib/auth/config.ts
  lib/demo/demo-trips.ts
  prisma/migrations/20250115_add_demo_accounts/migration.sql
  scripts/README-demo-setup.md
  scripts/create-demo-users.sql
  scripts/generate-demo-hash.js
  scripts/setup-demo-accounts.sql
  scripts/verify-demo-accounts.js
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix demo account SQL scripts for production database
  scripts/setup-demo-accounts-fixed.sql
  scripts/setup-demo-accounts-simple.sql
Due: none

Fix demo accounts to use valid Role enum values
  components/layout/MainHeader.tsx
  lib/auth/config.ts
  scripts/setup-demo-accounts-final.sql
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Add tenant-aware demo account scripts
  scripts/check-tenants.sql
  scripts/setup-demo-accounts-no-tenant.sql
  scripts/setup-demo-accounts-with-tenant.sql
Due: none

Add minimal demo setup and structure check scripts
  scripts/check-trips-structure.sql
  scripts/setup-demo-accounts-minimal.sql
Due: none

Fix tour operator demo account redirect to correct dashboard
  app/auth/signin/page.tsx
  components/layout/MainHeader.tsx
  lib/auth/config.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Update itinerary loading page - remove skeleton cards and reposition banner
  components/ui/skeleton-itinerary.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🚀 Optimize AI itinerary generation for speed and reliability
  app/api/trips-ai/cache/route.ts
  app/api/trips-ai/generate/route.ts
  app/api/trips-ai/health/route.ts
  lib/ai/enhanced-itinerary-generator-optimized.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

⚡ Ultra-fast itinerary generation with templates (<10s target)
  app/api/trips-ai/generate/route.ts
  lib/ai/templates/destination-templates.ts
  lib/ai/templates/popular-destinations.ts
  lib/ai/ultra-fast-generator.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🚀 Add Redis/Upstash caching for sub-10s performance
  app/api/trips-ai/cache/route.ts
  lib/ai/ultra-fast-generator.ts
  lib/cache/redis-cache.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🚀 Add tour operator demo functionality with populated data
  .cursor/mcp.json
  app/api/tour-operator/stats/route.ts
  app/api/tour-operator/tours/route.ts
  app/auth/signin/page.tsx
  app/tour-operator/page.tsx
  components/ui/ai-travel-form-wizard.tsx
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  scripts/check-column-names.sql
  scripts/check-roles.js
  scripts/check-tables.sql
  scripts/create-demo-operator.sql
  scripts/create-missing-tables.sql
  scripts/get-direct-url.js
  scripts/run-demo-setup.js
  scripts/seed-tour-operator-demo-data.sql
  scripts/seed-tour-operator-demo-data.ts
  scripts/seed-tour-operator-simple.sql
  scripts/setup-complete-demo.js
  scripts/verify-demo-data.sql
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🎤 Fix voice input UI on AI Travel Planner page
  components/ui/ai-travel-form-wizard.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎤 Enhance voice input with beautiful VoiceFlowButton UI
  components/ui/ai-travel-form-wizard.tsx
  components/ui/voice-flow-button.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎤 Simplify voice input to compact button design
  components/ui/ai-travel-form-wizard.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎤 Implement extended voice input with preview modal
  components/ClientAppShell.tsx
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
  components/voice/VoicePreviewModal.tsx
  hooks/useSpeechRecognition.ts
  lib/voice-parser.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎤 Fix voice input flow with live transcription
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎯 Polish voice input UX with precise field mapping
  __tests__/voice-input.test.tsx
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
  lib/voice-parser.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎙️ Debug and enhance voice parsing with field-specific cues
  __tests__/voice-parser.test.ts
  components/voice/VoiceInputButton.tsx
  lib/voice-parser.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🎤 Fix voice UI with grey transcription box and improved debugging
  components/voice/VoiceInputButton.tsx
  hooks/useSpeechRecognition.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🔍 Add comprehensive debugging for voice input field mapping
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

Fix formState is not defined error
  components/ui/ai-travel-form-wizard.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🗄️ Fix database schema - create missing itineraries table
  components/ui/ai-travel-form-wizard.tsx
  components/voice/VoiceInputButton.tsx
  scripts/apply-missing-migrations.sql
  scripts/check-database-state.sql
  scripts/create-itineraries-table.sql
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Refactor itinerary builder with map-centric responsive design
  app/globals.css
  app/plan/[tripId]/page.tsx
  app/plan/page.tsx
  components/AIQuickSuggest.tsx
  components/AddToDayButton.tsx
  components/DayTimeline.tsx
  components/ExploreSidebar.tsx
  components/MapCanvas.tsx
  hooks/usePaneMode.ts
  package-lock.json
  package.json
  store/planStore.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

🐛 Fix DayTimeline import errors
  components/DayTimeline.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Redesign itinerary builder with modern map-centric UI
  app/plan/[tripId]/page-backup.tsx
  app/plan/[tripId]/page.tsx
  components/DayTimeline.tsx
  components/MapCanvas.tsx
  components/ModernDayTimeline.tsx
  components/ModernExploreSidebar.tsx
  store/planStore.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Implement real place search functionality
  .claude/settings.local.json
  app/api/places/search/route.ts
  components/ModernExploreSidebar.tsx
  hooks/useDebounce.ts
  lib/services/places-search-service.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Add comprehensive search enhancements
  components/MapCanvas.tsx
  components/ModernExploreSidebar.tsx
  components/PlaceFilters.tsx
  lib/services/places-search-service.ts
  lib/services/search-cache.ts
  store/planStore.ts
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Modernize itinerary builder with interactive components
  components/itinerary/ActivityCard.tsx
  components/itinerary/ActivityList.tsx
  components/itinerary/EnhancedItineraryViewer.tsx
  components/itinerary/ModernItineraryBuilder.tsx
  components/itinerary/ModernTimeline.tsx
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Integrate ModernTimeline with drag-and-drop functionality
  .claude/settings.local.json
  app/page.tsx
  app/plan/[tripId]/page.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

📱 Implement responsive mobile design for itinerary builder
  app/plan/[tripId]/page.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

✨ Redesign mobile timeline with beautiful day cards
  app/plan/[tripId]/page.tsx
  components/itinerary/MobileDayCards.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json

🖼️ Integrate Unsplash API for dynamic location images
  app/api/images/location/route.ts
  components/ModernExploreSidebar.tsx
  components/PlaceCardWithImage.tsx
  components/itinerary/MobileDayCards.tsx
  lib/services/unsplash-service.ts
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --config .eslintrc.development.json, npm run type-check

Path conditions:
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --fix --config .eslintrc.development.json: any of: *.{ts,tsx,js,jsx}
  npm run type-check: any of: package.json
